@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

* {
    font-family: 'Rubik', sans-serif;
    transition: 0.2s linear;

}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    background-color: rgb(195, 228, 236);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#container {
    position: relative;
    background-color: white;
    padding: 50px;
    border: 5px solid rgb(150, 175, 182);
    border-radius: 1rem;
    height: 190px;
    width: 320px;
    box-shadow: 0 15px 25px rgba(0 , 0, 0, 0.15);
    animation-name: animation-in;
    animation-duration: 1s;
}

@keyframes animation-in {
    from {margin-top: 1400px;}
    to {margin-top: none;}
} 

#input-container input{
    padding: 12px 5px 12px 25px;
    margin: 8px 0 8px 0;
    width: 290px;
    border: none;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
    background-color: #b6b6c552;
    outline: rgb(83, 78, 85);

}

    #input-container input:hover, input:focus {
        padding: 13px 6px 13px 25.5px;
        margin: 5.5px 0 5.5px 0;
        background-color: #cfcfdbb2;
    }

#button-area {
    margin: 8rem 0 0 0;    
    display: flex;
    width: 300px;
    justify-content: space-around;
    
}

#button-area button {
    padding: 12px 20px;
    border:none;
    border-radius: 1rem;
    cursor: pointer;
    font-size: 15px;
}

#inputbox0 {
    position: absolute;
    top: 30px;
}

#inputbox1 {
    position: absolute;
    top: 90px;
}

#inputbox2 {
    position: absolute;
    top: 150px;
}

#container footer {
    position: relative;
    top: 30px;
}

#container a {
    color: black;
}